{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
</head>
<body>
    <h2>Request Waste Pickup</h2>
    <form method="post">
        {% csrf_token %}
        <!-- {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </p>
        {% endfor %} -->
          {{ form.as_p }}
        <button type="submit">Request Pickup</button>
    </form>
</body>
</html>